/***** ChrisMills.la Styles *****/
body {
	font-family:'Helvetica Neue', Arial, sans-serif;
	background:#f1f1f0;
	margin:0;
	padding:0;
}
a {
	text-decoration:underline;
}
a:hover {
	text-decoration:none;
}
.fade {
	opacity:0;
	transition: opacity 1s ease;
	-webkit-transition: opacity 1s ease;
}
.load {
    opacity:1;
}
.loader,
.loader_white {
	background:url('../img/loader_gray.gif') no-repeat;
	position:absolute;
	top:-66px;
	left:85px;
	width:16px;
	height:16px;
	z-index:2;
}
.loader_white {
	background:url('../img/loader_white.gif') no-repeat;
	top:116px;
	left:30px;
}
.logo {
	background:url('../img/logo.png') no-repeat;
	position:absolute;
	top:27px;
	left:30px;
	width:57px;
	height:49px;
	z-index:1;
}
.logo a {
	position:absolute;
	display:block;
	width:100%;
	text-indent:-9999px;
	height:100%;
}
nav {
	position:absolute;
	top:10px;
	right:30px;
	z-index:3;
}
.trigger {
	position:relative;
	z-index:3;
	color:#252525;
	font-size:48px;
	cursor:pointer;
}
nav
div {
	background:#fff;
	height:100%;
	width:20%;
	border-left:3px solid #dfdfdc;
	position:fixed;
	top:0;
	left:100%;
	padding:150px 0 0 0;
}
nav
div
a {
	color:#999;
	width:100%;
	display:block;
	padding:10px 20px;
	border-top:1px dotted #252525;
	font-size:24px;
	font-weight:normal;
	text-decoration:none;
}
nav
div
a:last-child {
	border-bottom:1px dotted #252525;
}
nav
div
a:hover {
	background:#f0f0f0;
}
.view {
	position:relative;
	width:100%;
}
h1 {
	font-size:24px;
	line-height:28px;
	font-weight:bold;
	padding:45px 0 10px 0;
	margin:0;
	text-align:center;
}
p {
	font-weight:bold;
	font-size:14px;
	line-height:18px;
	text-align:center;
	padding:0;
	margin:0 0 14px 0;
}
video {
	width:100%;
	background:#fff;
	min-height:300px;
	margin:98px 0 40px 0;
}
.content {
	margin-top:50px;
}
.content p {
	text-align:left;
}
.project-detail {
	position:relative;
	background:#1d4b7d;
	display:block;
	padding:100px 100px 30px 100px;
}
.project-detail h2 {
	width:100%;
	position:absolute;
	top:35px;
	margin:0;
	padding:0;
	font-size:32px;
	color:#fff;
	font-weight:normal;
	text-align:center;
	left:0;
}
.project-img {
	background:#fff;
	display:block;
	min-height:300px;
	margin:0 0 20px 0;
}
.project-img img {
	display:block;
	width:100%;
}
.project-detail p {
	font-size:14px;
	color:#fff;
	font-weight:bold;
	line-height:20px;
	padding:0 0 18px 0;
	margin:0;
	width:75%;
}
.launch-project {
	padding:8px 15px;
	background:#fff;
	border-radius:5px;
	webkit-border-radius:5px;
	position:absolute;
	right:100px;
	bottom:50px;
	border:0;
	font-size:14px;
	cursor:pointer;
}
.project-close {
	position:absolute;
	top:15px;
	right:25px;
	color:#f0f0f0;
	font-size:36px;
	font-weight:normal;
}
.project {
	background:#4085d2;
	position:relative;
	float:left;
	display:block;
	width:25%;
	margin:0;
	padding:0;
	box-sizing: border-box;
	padding:12.5%;
	cursor:pointer;
}
.project-content {
	/*background:linear-gradient(to top left,
           rgba(255,255,255,0) 0%,
           rgba(255,255,255,0) calc(50% - 1px),
           rgba(255,255,255,1) 50%,
           rgba(255,255,255,0) calc(50% + 1px),
           rgba(255,255,255,0) 100%);
	display:block;*/
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	display:block;
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	z-index:1;
	overflow:hidden;
}
.project-content hr {
	width: 150%;
	height:150%;
	border:0;
    border-left: 1px solid #fff;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: absolute;
    left:30%;
    top:24%;
    /*filter:  progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand',  
              M11=0.9914448613738104, M12=-0.13052619222005157,M21=0.13052619222005157, M22=0.9914448613738104); 
 	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.9914448613738104, M12=-0.13052619222005157, M21=0.13052619222005157, M22=0.9914448613738104,sizingMethod='auto expand')";*/ 
}
.project-content:hover hr {
	border:0;
}
.project p {
	font-weight:bold;
	color:#fff;
	position:absolute;
	bottom:5%;
	right:5%;
	text-align:right;
}
.project a {
	font-weight:bold;
	color:#fff;
}
.experience p {
	margin-left:10%;
	margin-right:10%;
	font-weight:normal;
}
.exp-title {
	font-size:24px;
	line-height:18px;
	padding:30px 0 5px 0;
	margin:0;
}
.exp-date {
	font-style:italic;
	margin:0;
	padding:0 0 10px 0;
}
.exp-project {
	padding:0 0 10px 0;
	margin:0;
	font-size:16px;
	line-height:20px;
}