<h1 class="fade">Contact</h1>
<p class="fade">Currently accepting freelance projects, submit your request below.</p>

<div class="fade content contact">
	
	<form>
		
		<label for="contactName">Name<span>*</span>:
			<input type="text" id="contactName" />
		</label>

		<label for="contactEmail">Email<span>*</span>:
			<input type="text" id="contactEmail" />
		</label>

		<label for="contactPhone">Phone:
			<input type="text" id="contactPhone" />
		</label>

		<label>Project Type:
			<fieldset>
				<input type="radio" /> UI Design - Web/App
				<input type="radio" /> UI Development - Web/App
				<input type="radio" /> E-Commerce Development
			</fieldset>
		</label>

		<label for="contactMessage">Message<span>*</span>:
			<textarea id="contactMessage"></textarea>
		</label>

		<button>Submit</button>

	</form>

</div>