<h1 class="fade">Experience</h1>
<p class="fade">I have almost ten years professional experience as a Front End Developer/UI Developer<br />in a variety of industies.</p>

<div class="fade content experience">

	<p class="exp-title">NBC Universal - Sr. Front End Developer</p>
	<p class="exp-date">February 2014 - Present</p>
	<p class="exp-project">Media Village - Clientside shopping cart development, Clientside login integration.
	<br /><a href="#" target=" _blank">http://www.mediavillage.com</a></p>
	<p class="exp-project">Digital Screening Room - Prototype to rebuild DSR into Keystone.js to utilize node and mongo.</p>
	<p class="exp-project">MPS - Internal javascript based ad server.  Optimization and replacement of jQuery with native javascript.</p>

	<p class="exp-title">Dex Media - UI Engineer</p>
	<p class="exp-date">January 2012- February 2014</p>
	<p class="exp-project">Bundle Builder 2 Application - Developed a sales application using Backbone.js and restful APIs.</p>
	<p class="exp-project">Bundle Builder Application - Updated iPad optimized application in jQuery Mobile.</p>
	<p class="exp-project">Account Management System - Updated and implemented additional features to the Dex Media Account Mangement System.</p>

	<p class="exp-title">Apollo Interactive - Front End Developer</p>
	<p class="exp-date">August 2009 - January 2012</p>
	<p class="exp-project">Front end development and graphic design for a variety of clients including: Jack in the Box, CPK, Curves as well as internal affiliate marketing sites.</p>

	<p class="exp-title">Wireframe.com - Front End Developer</p>
	<p class="exp-date">August 2007 - August 2008</p>
	<p class="exp-project">Front end development for several entertainment websites including: Mynetworktv.com, Insideedition.com.</p>

	<p class="exp-title">Einstein Industries - Web Production Artist</p>
	<p class="exp-date">November 2006 - August 2007</p>
	<p class="exp-project">Front end development and graphic design for hundreds of law and medical websites.</p>

	<p class="exp-title">Searchfit - Jr. Web Developer</p>
	<p class="exp-date">August 2007 - August 2008</p>
	<p class="exp-project">Maintained hundreds of internal websites used for SEO.</p>

	<p class="exp-title">SmartDraw - Web Development Intern</p>
	<p class="exp-date">November 2005 - April 2006</p>
	<p class="exp-project">Updated the front end of the company website.</p>

</div>