<h1 class="fade">Work</h1>

<p class="fade-delay">Below you will find some examples of recent projects.</p>

<div class="fade-delay content work">

	<div class="project">
		<div class="project-content">
			<p class="project-name">Project Name<br /><a href="#">http://project.com</a></p>
			<hr />
		</div>
	</div>
	
	<div class="project">
		<div class="project-content">
			<p class="project-name">Project Name<br /><a href="#">http://project.com</a></p>
			<hr />
		</div>
	</div>

	<div class="project">
		<div class="project-content">
			<p class="project-name">Project Name<br /><a href="#">http://project.com</a></p>
			<hr />
		</div>
	</div>

	<div class="project">
		<div class="project-content">
			<p class="project-name">Project Name<br /><a href="#">http://project.com</a></p>
			<hr />
		</div>
	</div>

	<div class="project">
		<div class="project-content">
			<p class="project-name">Project Name<br /><a href="#">http://project.com</a></p>
			<hr />
		</div>
	</div>

	<div class="project">
		<div class="project-content">
			<p class="project-name">Project Name<br /><a href="#">http://project.com</a></p>
			<hr />
		</div>
	</div>

	<div class="project">
		<div class="project-content">
			<p class="project-name">Project Name<br /><a href="#">http://project.com</a></p>
			<hr />
		</div>
	</div>

	<div class="project">
		<div class="project-content">
			<p class="project-name">Project Name<br /><a href="#">http://project.com</a></p>
			<hr />
		</div>
	</div>

	<div class="project">
		<div class="project-content">
			<p class="project-name">Project Name<br /><a href="#">http://project.com</a></p>
			<hr />
		</div>
	</div>

	<div class="project">
		<div class="project-content">
			<p class="project-name">Project Name<br /><a href="#">http://project.com</a></p>
			<hr />
		</div>
	</div>

	<div class="project">
		<div class="project-content">
			<p class="project-name">Project Name<br /><a href="#">http://project.com</a></p>
			<hr />
		</div>
	</div>

	<div class="project">
		<div class="project-content">
			<p class="project-name">Project Name<br /><a href="#">http://project.com</a></p>
			<hr />
		</div>
	</div>


	<div class="tag-filters">
		<button>Javascript</button>
		<button>HTML5</button>
		<button>CSS3</button>
		<button>Backbone.js</button>
		<button>jQuery</button>
		<button>PHP</button>
		<button>git</button>
		<button>svn</button>
		<button>design</button>
		<button>Angular.js</button>
		<button>Node.js</button>
		<button>Wordpress</button>
		<button>keystone.js</button>
		<button>bootstrap</button>
	</div>

</div>